<!--<div ng-include src="'../DWV-Dicom/dwv/viewers/static/index.html '"></div>-->

<!--<button ng-click = redirectToNewPage()>Click</button>-->


<!--PatientId : {{patientId}}
</br>-->

<!--<div class="row">
   <div class="col s12 m12 l12">
     
   </div>
</div>-->

        <!--<nav id="horizontal-nav" class="white hide-on-med-and-down">
           <div class="nav-wrapper">
                
            <div class="right blue-grey-text">SAKNAN MANOTAYA, MD (Result Doctor)</div>
            </div>  
       
        </nav>-->
<!--<div style = "position: fixed;
    bottom: 0;
    right: 0;">
    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel cyan">
            <span class="white-text">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
            </span>
            </div>
        </div>
    </div>
</div>-->

<div>
    <div class="row">
        <div class="col s12 m12 l12">
            <!-- <hms-patient-demographic url = "172.18.62.213/hmsgw" selected-patient = {{patientId}} access-token = {{token.access_token}} ></hms-patient-demographic> -->
        </div>
    </div>
</div>

<div style = "position: relative; max-height: 600px; overflow-y: auto;">
    <div class="row" ng-if="showTabs">
        <div class="col s12">
            <ul class = "z-depth-1 patientTab" tabs reload="allTabContentLoaded">
                <li class="tab col s2"><a class="active"  href="#test1">Vital Signs</a></li>
                <li class="tab col s2"><a href="#test2">Allergy</a></li>
               <!--  <li class="tab col s2"><a href="#test3">Immunisation History</a></li> -->
                <li class="tab col s2"><a href="#test4">Medical History</a></li>
               <!--  <li class="tab col s2"><a href="#test5">Family History</a></li> -->
                <li class="tab col s2"><a href="#labresult">Lab Result</a></li>
                <li class="tab col s2"><a href="#medicalsImage">Medicals Image</a></li>
                <li class="tab col s2"><a href="#quippenote">Quippe Note</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            <div class="card">
                <div class="card-content">
                <hms-patient-vitalsigns url = "172.18.62.213/hmsgw" encounter = {{encounter}} selected-patient = {{patientId}} access-token = {{token.access_token}}></hms-patient-vitalsigns>
                </div>
            
            </div>
        </div>
        <div id="test2" class="col s12">
            <div class="card">
                <div class="card-content">
                <hms-patient-allergy url = "172.18.62.213/hmsgw" selected-patient = {{patientId}} access-token = {{token.access_token}} ></hms-patient-allergy>
                </div>
            </div>
        </div>
       
        <div id="test4" class="col s12">
            <div class="card">
                <div class="card-content">
                    <hms-patient-medication url = "172.18.62.213/hmsgw" encounter = {{encounter}} access-token = {{token.access_token}} ></hms-patient-medication>
                </div>
            </div>
        </div>
     <!--    <div id="test5" class="col s12">
            <div class="card">
                <div class="card-content">
                
                </div>
            </div>
        </div> -->
        <div id="medicalsImage" class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="collection">
                      <!--   <a ng-href="#!/labresult/{{labresultURL}}" class="collection-item">DICOM</a> -->
                    
                    <div class="row">
                        <div class="col s12">
                           <li ng-repeat = "file in dicomFile.data">
                            <a ng-href="#!/labresult/{{patientId}}/{{encounter}}/{{file}}">{{file}}
                            </a>
                           </li>
                        </div>
                      
                    </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <div id="labresult" class="col s12">
            <div class="card">
                <div class="card-content">
                     <hms-patient-labresult url = "172.18.62.213/hmsgw" selected-patient = {{patientId}} access-token = {{token.access_token}} encounter = {{encounter}} set-code = {{setcode}}></hms-patient-labresult>
                </div>
            </div>
        </div>

        <div id="quippenote" class="col s12">
            <div class="card">
                <div class="card-content">
 
                    <!-- <iframe ng-src="{{trustSrc(quippeURL.src)}}"> 
                        <p>Your browser does not support iframes.</p>
                    </iframe> -->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <iframe ng-src = "Medcin/index.html" height="1000px">
                                 <p>Your browser does not support iframes.</p>
                            </iframe>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col s12 m12 l12">
       <hms-patient-labresult url = "172.18.62.213/hmsgw" selected-patient = {{patientId}} access-token = {{token.access_token}} encounter = {{encounter}} set-code = {{setcode}}></hms-patient-labresult>
    </div>
</div> -->
<!--<div class="row">
   <div class="col s12 m5 l5">
       <hms-patient-demographic selected-patient = {{patientId}} access-token = {{token.access_token}} ></hms-patient-demographic>
   </div>
   <div class="col s12 m7 l1">
   </div>
   <div class="col s12 m7 l7">
       <div class="row" ng-if="showTabs">
            <div class="tabs-vertical">
                <div class="col s4">
                    <ul class = "tabs" tabs reload="allTabContentLoaded">
                        <li class="tab"><a class="active"  href="#t1">Vital Sign</a></li>
                        <li class="tab"><a href="#t2">Prescription</a></li>
                        <li class="tab"><a href="#t3">Allergies</a></li>
                        <li class="tab"><a href="#t4">Immunizations</a></li>
                        <li class="tab"><a href="#t5">Medications</a></li>
                        <li class="tab"><a href="#t6">Medical Problems</a></li>
                    </ul>
                </div>
                <div class="col s8">
                    <div id="t1" class="tab-content">
                        <hms-patient-vitalsigns selected-patient = {{patientId}} access-token = {{token.access_token}}></hms-patient-vitalsigns>
                    </div>
                    <div id="t2" class="tab-content">Prescription</div>
                    <div id="t3" class="tab-content">
                        <hms-patient-allergy selected-patient = {{patientId}} access-token = {{token.access_token}} ></hms-patient-allergy>
                    </div>
                    <div id="t4" class="tab-content">Immunizations</div>
                    <div id="t5" class="tab-content">Medical Problems</div>
                    <div id="t6" class="tab-content"> <hms-patient-labresult selected-patient = {{patientId}} access-token = {{token.access_token}}></hms-patient-labresult></div>
                </div>
            </div>
       </div>
   </div>
</div>-->








