<!--<div ng-include src="'../DWV-Dicom/dwv/viewers/static/index.html '"></div>-->

<!--<button ng-click = redirectToNewPage()>Click</button>-->


<!--PatientId : {{patientId}}
</br>-->
<!--<div class="row" ng-if="showTabs">
    <div class="tabs-vertical">
        <div class="col s2">
            <ul class = "tabs" tabs reload="allTabContentLoaded">
                <li class="tab"><a href="#test1">Test 1</a></li>
                <li class="tab"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab"><a href="#test3">Test 3</a></li>
                <li class="tab"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
        <div class="col s6">
            <div id="test1" class="tab-content">Test 1</div>
            <div id="test2" class="tab-content">Test 2</div>
            <div id="test3" class="tab-content">Test 3</div>
            <div id="test4" class="tab-content">Test 4</div>
        </div>
    </div>
</div>-->

<div class="row">
   <div class="col s12 m5 l5">
       <hms-patient-demographic selected-patient = {{patientId}} access-token = {{token.access_token}} ></hms-patient-demographic>
   </div>
   <!--<div class="col s12 m7 l1">
   </div>-->
   <div class="col s12 m7 l7">
       <div class="row" ng-if="showTabs">
            <div class="tabs-vertical">
                <div class="col s4">
                    <ul class = "tabs" tabs reload="allTabContentLoaded">
                        <li class="tab"><a class="active"  href="#t1">Vital Sign</a></li>
                        <li class="tab"><a href="#t2">Prescription</a></li>
                        <li class="tab"><a href="#t3">Allergies</a></li>
                        <li class="tab"><a href="#t4">Immunizations</a></li>
                        <!--<li class="tab"><a href="#t5">Medications</a></li>-->
                        <li class="tab"><a href="#t6">Medical Problems</a></li>
                    </ul>
                </div>
                <div class="col s8">
                    <div id="t1" class="tab-content">
                        <hms-patient-vitalsigns selected-patient = {{patientId}} access-token = {{token.access_token}}></hms-patient-vitalsigns>
                    </div>
                    <div id="t2" class="tab-content">Prescription</div>
                    <div id="t3" class="tab-content">
                        <hms-patient-allergy selected-patient = {{patientId}} access-token = {{token.access_token}} ></hms-patient-allergy>
                    </div>
                    <div id="t4" class="tab-content">Immunizations</div>
                    <!--<div id="t5" class="tab-content">Medical Problems</div>-->
                    <div id="t6" class="tab-content"> <hms-patient-labresult selected-patient = {{patientId}} access-token = {{token.access_token}}></hms-patient-labresult></div>
                </div>
            </div>
       </div>
   </div>
</div>








