/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/*card style*/
.card-size{
  height: 250px;
  overflow-y: scroll;
}


.side-nav{
  top: 120px;
  width: 250px;
  transition: 0.5s;
  z-index: 99 !important

}

img#patientImage{
  width: 106px;
}

iframe {
  /*  position: fixed;*/
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    /*height: 100%;*/
    height: 900px;
}

/*.tabs-vertical ul.tabs{
   height: auto;
   -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;

}*/

/*.tabs-vertical .tab {
        width: 100%;

}*/

/*.tabs-vertical .tabs .tab{
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 90px;
    padding: 0;
    width: px;
    margin: 0;
    text-transform: uppercase;
    transform: rotate(90deg);
}


.tabs-vertical .tabs .tab a {
    color: rgba(238, 110, 115, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.indicator{
  display: none
}*/
nav ul a.logout{
  display: inline;
}

/*nav {
  height: 40px !important;
}*/

#practitioner-nav{
   height: 40px !important;
}
.practitionerInfo{
  margin-top: -12px;
  font-size: 10px;
  color: #f5f5f5;
}

.indicator{
   display: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #d2d2d2 !important;
}

.tabs .tab a {
    color: #5e5e5e !important;
}

.patientTab{
  border-style: solid;
  border-width: 1px;
  border-color: rgba(208, 208, 208, 0.48);
}



