<!--<div id="profile-card" class="card">
  <div class="card-image waves-effect waves-block waves-light">
  </div>
  <div class="card-content">                                       
    <span class="card-title activator grey-text text-darken-4">{{patient.name[0].given_name}} {{patient.name[0].family_name}}</span>
    <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> {{selectedPatient}} </p>
    <p><i class="mdi-action-language cyan-text text-darken-2"></i> Nationality : {{patient.nationality}}</p>
    <p><i class="mdi-action-wallet-giftcard cyan-text text-darken-2"></i> Birth Date : {{patient.birth_date}} </p>
    <p><i class="mdi-action-picture-in-picture cyan-text text-darken-2"></i> Address : {{patient.address[0].line}} {{patient.address[0].city}} {{patient.address[0].country}} {{patient.address[0].postcode}}</p>
    
   </div>               
 </div> -->

 <!--<div class="row">
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded">
            <li class="tab col s3"><a href="#test1">Vital Sign</a></li>
            <li class="tab col s3"><a class="active" href="#test2">Prescription</a></li>
            <li class="tab col s3"><a href="#test3">Immunizations</a></li>
            <li class="tab col s3"><a href="#test4">Medications</a></li>
            <li class="tab col s3"><a href="#test4">Medical Problems</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
</div>-->

<ul class="collapsible" data-collapsible="expandable">
                            <li class="active">
                                <div class="collapsible-header active">
                                    <i class="material-icons">filter_drama</i>Demographics</div>
                                <div class="collapsible-body">
                                    <p>
                                        MR.KIATKWANKUL DAYIN </br>
                                        09-95-000010 </br>
                                        Nationality : TH </br>
                                        Birth Date : 1994-04-18 </br>
                                        Address : 29/113  กรีนพอยด์คอนโดมิเนียม   ซ.นราธิวาสราชนคร ยานนาวา สาทร กรุงเทพ 10120
                                    </p>
                                </div>
                            </li>
                        </ul>

