<div class="card">
    <div class="card-content">
     <!--    <span class="card-title">Lab Result</span> -->
        <!-- <table>
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Hos Code</th>
                    <th>Hos Desc</th>
                    <th>Value</th>
                </tr>
            </thead>
        </table> -->
       <!--  <div class="card-size"> -->
            <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Item</th>
                        <th>Value</th>
                        <!-- <th>Unit</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in patientLabresult">
                        <td>{{item.code.set_desc}}</td>
                        <td>{{item.code.test_desc}}</td>
                        <td>{{item.value}} {{item.unit}}</td>
                    </tr>
                </tbody>
            </table>
      <!--   </div> -->
       <!--  {{patientLabresult}} -->
    </div>
</div>
</div>
