<div class="valign-wrapper" style = "padding-top: 10%;">
      <div class="row">
        <div class="col s12 m10">
          <div class="card">
            <div class="card-content">
              <p class = "black-text">Please Sign in</p>
              </br> 
                  <input placeholder="Username" value = "009900203" type="text" required="">
                  <input placeholder="Password" value = "6ZoYxCjLONXyYIU2eJIuAw==" type="password" required="">
                  <a class="waves-effect waves-light btn cyan" ng-click = "login()">Log in</a>
            </div>
          </div>
        </div>
    </div>
</div>