<div class="card">
    <div class="card-content">
        <!-- <span class="card-title">Vital Signs</span> -->

             <div class="card-size">
                <table>
                    <thead>
                        <tr>
                            <th data-field="codeDesc"> </th>
                            <th data-field="value">Value</th>
                            <th data-field="unit">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "item in patientVitalsigns">
                            <td>{{item.code.set_desc}} </td>
                            <td>{{item.value}}</td>
                            <td>{{item.unit}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
    </div>
</div>
